{% extends 'MyPortfolio/base.html' %}
{% load static %}
{% block content %}
<main class="main-content">
    <h1>Certifications</h1>
    <div class="card-container">
        <div class="certificate-card">
            <div class="certificate-title">Data Visualization with R</div>
            <div class="platform">By: Great Learning</div>
            <div class="issued-date">Issued: February 2024</div>
            <div class="link"><a href="https://d9jmtjs5r4cgq.cloudfront.net/ComplementaryCourseCertificate/4099773/original/Muskan_Mittal20240203-69-b2dy6u.jpg">View Certificate</a></div>
        </div>

        <div class="certificate-card">
            <div class="certificate-title">Machine Learning Using Python</div>
            <div class="platform">By: Simplilearn</div>
            <div class="issued-date">Issued: July 2025</div>
            <div class="link"><a href="https://certificates.simplicdn.net/share/8175188_22159291752745752750.png">View Certificate</a></div>
        </div>

        <div class="certificate-card">
            <div class="certificate-title">JQuery</div>
            <div class="platform">By: Great Learning</div>
            <div class="issued-date">Issued: August 2023</div>
            <div class="link"><a href="https://d9jmtjs5r4cgq.cloudfront.net/ComplementaryCourseCertificate/3142904/original/Muskan_Mittal20230816-69-13da4g1.jpg">View Certificate</a></div>
        </div>

        <div class="certificate-card">
            <div class="certificate-title">Design Thinking for Beginners</div>
            <div class="platform">By: Simplilearn</div>
            <div class="issued-date">Issued: March 2022</div>
            <div class="link"><a href="https://certificates.simplicdn.net/share/thumb_3290511_1646310114.png">View Certificate</a></div>
        </div>
    </div>
</main>
{% endblock %}
