{% extends 'MyPortfolio/base.html' %}
{% block content %}
<main class="contact-main">
  <h1 class="contact-title">Contact Me</h1>
    <div class="contact-card">
        <div class="contact-info">
            <p><span class="contact-label">📞 Contact Number:</span> 7814708106</p>
            <p><span class="contact-label">📧 Email ID:</span> <a href="mailto:mumittal20@gmail.com" class="contact-link">mumittal20@gmail.com</a></p>
            <p><span class="contact-label">💼 LinkedIn:</span> <a href="https://www.linkedin.com/in/muskan-mittal-7aa072237" target="_blank" class="contact-link">linkedin.com/in/muskan-mittal-7aa072237</a></p>
            <p><span class="contact-label">💻 GitHub:</span> <a href="https://github.com/Muskan29mm" target="_blank" class="contact-link">github.com/Muskan29mm</a></p>
        </div>
    </div>
</main>
{% endblock %}
