{% extends 'MyPortfolio/base.html' %}
{% load static %}
{% block content %}
<main class="main-content">
    <h1>Courses</h1>
    <div class="courses-card-container">
        <div class="courses-card">
            <div class="courses-title">Python for Beginners</div>
            <div class="platform">By: Great Learning</div>
        </div>

        <div class="courses-card">
            <div class="courses-title">Prompt Engineering for ChatGPT</div>
            <div class="platform">By: Great Learning</div>
        </div>
    </div>
</main>
{% endblock %}
