{% extends 'MyPortfolio/base.html' %}
{% load static %}
{% block content %}
<main class="main-content">
    <h1>Projects</h1>
        <div class="project-card">
            <div class="project-title">Multiple Disease Prediction System</div>
            <div class="project-description">
                <ul>
                    <li>A Web-based System</li>
                    <li>Streamlit for the frontend, Python for the core logic, and SQL for backend data management</li>
                    <li>The application is designed to predict the likelihood of three major diseases: heart disease, diabetes, and Parkinson's.</li>
                    <li>It features a user-friendly interface that allows users to input various health parameters easily.</li>
                    <li>The system delivers real-time predictions based on the medical input data.</li>
                </ul>
        </div>
    </div>

</main>
{% endblock %}

